.header-top-area{
	padding-top: 20px;
}
.mainmenu ul li {
    display: inline-block;
}

.mainmenu li a {
    display: inline-block;
}
.social:after{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../img/social.png);
	background-position: center;
	background-size: 100% 100%;
	top: -90px;
	height: 190px;
	z-index: -1;
}
.social-contact ul li {
    display: inline-block;
}

.social-contact ul li a {
    color: #fff;
    font-size: 20px;
}

.running-text {
    color: #ffff;
    font-size: 16px;
    margin-top: 18px;
}
.social-contact ul li:nth-child(1) a {
    margin-left: 90px;
}

.social-contact ul li:nth-child(2) a {
    margin-left: 110px;
}

.social-contact ul li:nth-child(3) a {
    margin-left: 165px;
}

.social-contact {
    margin-top: 15px;
}
.hero-slide {
    width: 75%;
    display: inline-block;
    float: left;
}
.login-form {
    width: 25%;
    display: inline-block;
    background-image: url(../img/bg-login.png);
    background-size: 100% 100%;
    background-position: center;
    height: 345px;
    text-align: center;
    padding-top: 100px;
}
.login-form input {
    width: 85%;
    border: 1px solid #ddd;
    margin-top: 12px;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
}
a.submit-btn {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: block;
    background-image: linear-gradient(to bottom, #f30100, #9f0100);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 12px auto 0 auto;
}
a.dafter-btn {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: block;
    background-image: linear-gradient(to bottom, #60da15, #079d2f);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 12px auto 0 auto;
}