/* Base CSS */
body{
	background-color: var(--primary-clr);
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center;
}
:root {
	--primary-clr: #fff;
}
.img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}


button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0px !important;
	padding: 0px;
}

li {
	list-style: none
}

p {
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
}
a:hover {
	text-decoration: none
}
a{
	text-decoration: none !important;
}

section.mobile-menu li a {
    font-size: 18px;
    color: #fff;
    padding: 5px 0;
    display: block;
    font-weight: 700;
    transition:.3s;
    border-bottom: 1px solid transfarent;
}
section.mobile-menu li a:hover {
	opacity: .5;
	border-bottom: 1px solid #fff;
}
ul.mobile-menu-view {
    margin-top: 30px !important;
    background: #940000;
    border-radius: 5px;
    display: none;
}

a.menubar {
    font-size: 30px;
    color: #fff;
    display: none;
    position: absolute;
    right: 15px;
    top: 40px;
    z-index: 9;
}
.mobile-login-form{
	display: none;
}