.jack{
	background-image: url(../img/jack.png);
	background-size: cover;
	background-position: center;
	height: 375px;
}

input#jackpot {
    background: none;
    border: none;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    text-align: right;
}
input#jackpott {
    background: none;
    border: none;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    padding-left: 50px;
}

.jackpot-left {margin-top: 15px;}

.jackpot-right {margin-top: 15px;}

.deposit-left {
    color: #fff;
    padding-top: 85px;
    padding-left: 50px;
}
.deposit-right {
    color: #fff;
    padding-top: 85px;
    padding-right: 65px;
    text-align: right;
}

.deposit-left p, .deposit-right p {
    font-size: 18px;
    font-weight: 500;
}

.deposit-left p span, .deposit-right p span {
    margin: 0 30px;
}
.footer img{
	width: 100%;
}
.mobile-game{
    display: none;
}
.social{
    position: relative;
}